html, body {
  margin: 0;
  padding: 0;
}

body * {
  text-align: center;
}

form {
  text-align: center;
}

/* Need to max out width so can text-align */
table {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}